/* PAGE TITLE */
.page-title {
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    color: #c77a5b;
}

/* PRODUCT SECTION */
.product-detail-section {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.product-detail-wrapper {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    justify-content: center;
}

/* IMAGE */
.product-image img {
    width: 420px;
    border-radius: 10px;
}

/* TEXT INFO */
.product-info {
    max-width: 450px;
}

.product-title {
    font-size: 36px;
    color: #c77a5b;
}

.product-price {
    margin-top: 10px;
    font-size: 24px;
    color: #444;
}

.product-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.7;
}

/* BACK BUTTON */
.back-btn {
    margin-top: 30px;
    padding: 12px 20px;
    font-size: 16px;
    background: #FFFAED;
    color: #c77a5b;
    border: 1px solid #c77a5b;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.25s ease;
}

.back-btn:hover {
    background: #c77a5b;
    color: white;
}
.breadcrumb {
    text-align: center;
    font-size: 14px;
    color: #c77a5b;
    margin-top: 20px;
}
.cart-container {
    max-width: 800px;
    margin: 40px auto;
}

.cart-item {
    display: flex;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.cart-img {
    width: 120px;
    height: auto;
    border-radius: 10px;
}

.qty-controls button {
    width: 30px;
    height: 30px;
}

.remove-btn {
    background: #ff5c3b;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.cart {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #ff5c3b;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.product-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s, color 0.2s;
}

/* Add to Cart / Remove from Cart */
.product-btn.add-cart {
    background-color: #FFFAED; /* light background */
    color: #333; 
}

.product-btn.add-cart:hover {
    background-color: #e0e0e0;; /* slightly darker on hover */
}

/* Checkout Button */
.product-btn.checkout {
    background-color: #FFFAED;
    color: #333;
    display: none; /* hidden by default, shown via JS */
}

.product-btn.checkout:hover {
    background-color: #e0e0e0;
}




@media (max-width: 900px) {
    .product-detail-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .product-image img {
        width: 90%;
    }

    .product-info {
        margin: auto;
    }
}
